<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bestlabs.facerecoginination">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31"
        android:usesCleartextTraffic="true"
        >
        <activity android:name=".activities.ExitActivity"></activity>
        <activity
            android:name=".activities.EditProfileActivity"
            android:theme="@style/activity_custom" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:launchMode="singleInstance"
            android:theme="@style/activity_custom" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ResetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.WorkerDashboardActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.leave_management.LeaveWorkerApplyActivity"
            android:launchMode="singleInstance"
            android:theme="@style/activity_custom" />
        <activity
            android:name=".ui.claim.ClaimWorkerApplyActivity"
            android:launchMode="singleInstance"
            android:theme="@style/activity_custom" />
        <activity
            android:name=".ui.claim.ApproveClaimActivity"
            android:launchMode="singleInstance"
            android:theme="@style/activity_custom" />
        <activity
            android:name=".ui.leave_management.ApproveLeaveActivity"
            android:launchMode="singleInstance"
            android:theme="@style/activity_custom"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.facereginationhelper.FaceAddActivity"
            android:launchMode="singleInstance"
            android:theme="@style/activity_custom"
            />
        <activity
            android:name=".activities.facereginationhelper.FaceIdentifyActivity"
            android:launchMode="singleInstance"
            android:theme="@style/activity_custom"
            />
        <activity
            android:name=".activities.facereginationhelper.FaceTwoIdentifyActivity"
            android:launchMode="singleInstance"
            android:theme="@style/activity_custom"
            />
        <activity
            android:name=".activities.SupervisorDashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>
